@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@layer base {
    body {
        @apply antialiased text-gray-900 dark:text-gray-100 dark:bg-gray-900 bg-gray-50 transition-colors duration-200;
    }
}