version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SECRET_KEY=${SECRET_KEY}
    env_file:
      - ./backend/.env
