version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
    env_file:
      - ./backend/.env
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1
      - net.ipv6.conf.default.disable_ipv6=1
